**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/out
**/*.user
**/*.suo
**/appsettings.Development.json
**/node_modules
**/Frontend
**/dist
**/backend-build.log
**/restore-diag.log
**/restore-psdrive.log
