COMPOSE_PROJECT_NAME=sbank

API_IMAGE=your-dockerhub-user/sbank-api:latest
FRONTEND_IMAGE=your-dockerhub-user/sbank-frontend:latest

ASPNETCORE_ENVIRONMENT=Production
JWT_SECRET=replace-with-a-long-random-secret-at-least-32-chars

POSTGRES_DB=somonibank
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432

API_PORT=5142
FRONTEND_PORT=3000
